/*--------------------------------------------------------------------------------------------------------------
                                                LAYOUT DESKTOP
--------------------------------------------------------------------------------------------------------------*/
@media(min-width: 993px)
{
    body
    {
        overflow-y: hidden;
        display:flex;
        flex-direction: row;
        header /*****************************  balise pour le menu burger  ****************************************/
        {    
            // display: flex;
            // flex-direction: column;
            // justify-content: flex-end;                       
            background-color: $noir_pale;
            margin: 0;
            padding:0;
            // width: 100vw; // 100
        
            .boiteRond
            {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 150%;
                height: 100%;
            }
            .logo 
            {
                align-self: center;
            }
            .presentation       /******************  section presentation  *******************************************/
            {
                position: inherit;
                z-index: 15;
                height: $taille_section_presentation;
    
                background-color: $blanc_fonce;

                width:  calc(100vw - 100px);
                // margin: 0 0 0 100px;
                padding: 0 0 0 100px;                 
                
                .container_icone_defile
                {
                    .texte_defilement
                    {
                        text-align: center;
                        width: 100%;
                        font-size: 2vw;
                    }
                    .icone_defilement
                    {
                        align-self: center;
                        height: 4.2vw;
                        width: 5vw;
                    }
                }

                .container
                {
                    .presentation_h1
                    {
                        font-size: 12vw;
                    }
                    .presentation_h2
                    {
                        font-size: 8vw;
                    }
                    .presentation_h3
                    {
                        font-size: 4vw;
                    }
                    .presentation_h3:nth-of-type(2)
                    {
                        padding-left: 12%;
                    }
                }
            }
        }

        .toutes_les_sections /******************  Toutes les sections sauf presentation  **************************/
        {
            z-index: 97;
            display: flex;
            flex-direction: row;                            
            margin: 0;
            padding: 0;
            > section
            {
                border-right: 4px solid $noir_fonce;
            }
            .page /******************  Taille de chacune des sections sauf presentation  **************************/
            {                         
                min-width: #{$taille_une_des_autres_sections}vw; // 100
            }
            .diagramme /******************  section diagramme  ****************************************************/
            {   
                // height: 20%;                 
                // background: rgb(245,245,220);
                background: linear-gradient(90deg, #EDE9E4 0%, #ABDF5C 56.77%, #ABDF5C 66.15%, #EDE9E4 100%);
            }
            > section.diagramme
            {
                border-right: none;
            }
            .grille /******************  section grille des cours  ************************************************/
            {                       
                background: $blanc_fonce;
            }
            .enseignants /******************  section enseignants  ************************************************/
            {
                background: linear-gradient(270.11deg, #EDE9E4 0.03%, #ABDF5C 27.11%, #EDE9E4 99.95%);
            }
            .galerie_projet
            {
                background: linear-gradient(89.95deg, #EDE9E4 0.53%, #EDE9E4 19.18%, #ABDF5C 91.16%);
            }
            .vie_etudiante
            {
                background: linear-gradient(90deg, #ABDF5C 0%, #EDE9E4 98.44%);
            }
        }
    
        footer /******************  section Contact  **************************************************************/
        {
            z-index: 97;                            
            background-color: $vert_pale;
            // width: #{$taille_header_footer}vw; // 100

            .bande
            {
                width: 100vw;
                height: 100vh;
                overflow: hidden;
            }
        }
    }
}


/*--------------------------------------------------------------------------------------------------------------
                                            FIN LAYOUT DESKTOP
--------------------------------------------------------------------------------------------------------------*/