/*--------------------------------------------------------------------------------------------------------------
                                                        LAYOUT MOBILE
--------------------------------------------------------------------------------------------------------------*/
html::-webkit-scrollbar
{
    display: none;
}
html
{
    scroll-behavior: smooth; 
    -ms-overflow-style: none;
    scrollbar-width: none;
}
@media  (min-width: $breakpoint-mobile-small) and (max-width: $breakpoint-tablette) // min 400px, max 992px
{
    body /*************************************  LA BALISE PARENT  ************************************************/
    {
    margin: 0;
    padding: 0;
    //height: #{$taille_site}vh; // 700

    h1, h2, h3 // intialisation des titres de bases
    {
        margin: 0;
        padding: 0;
    }

    header /*****************************  balise pour le menu burger  ****************************************/
    {    
        display: flex;
        flex-direction: column;
        justify-content: flex-end;                       
        background-color: $noir_pale;
        margin: 0;
        padding:0;
        height: #{$taille_header_footer}vh; // 100
        
        .boiteRond{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150%;
            height: 100%;
        }
        .logo 
        {
            align-self: center;
        }
        .presentation       /******************  section presentation  *******************************************/
        {
            height: $taille_section_presentation;
            margin: 0; 
            padding: 0;    
            background-color: $blanc_fonce;
        }
    }

    .toutes_les_sections /******************  Toutes les sections sauf presentation  **************************/
    {                            
        margin: 0;
        padding: 0;
        min-height: #{$taille_autres_sections}vh; // 500vh

        .container_section{
            .container_titre{
                h1{
                    padding-top: 22px;
                    margin-left: 10px;
                }
            }
            .container_info{
                h1, h2{
                    margin-left: 10px;
                }
            }
        }

        .page /******************  Taille de chacune des sections sauf presentation  **************************/
        {                         
            min-height: #{$taille_une_des_autres_sections}vh; // 100
        }
        .diagramme /******************  section diagramme  ****************************************************/

        {      
            background: linear-gradient(180deg, #EDE9E4 0.52%, #ABDF5C 61.98%, #EDE9E4 98.44%);

        }
        .grille /******************  section grille des cours  ************************************************/
        {                       
            background: $blanc_fonce;
        }
        .enseignants /******************  section enseignants  ************************************************/
        {
            background: linear-gradient(180deg, #EDE9E4 0%, #ABDF5C 50%);
        }
        .galerie_projet
        {
            background: linear-gradient(180deg, #ABDF5C 0%, #EDE9E4 26.04%, #EDE9E4 72.4%, #ABDF5C 100%);
        }
        .vie_etudiante
        {
            background: linear-gradient(180deg, #ABDF5C 0%, #EDE9E4 100%);
        }
    }
    
    footer /******************  section Contact  **************************************************************/
    {                            
        background: $blanc_fonce;
        height: #{$taille_header_footer}vh; // 100
    }
    }
}

/*--------------------------------------------------------------------------------------------------------------
                                            FIN LAYOUT MOBILE
--------------------------------------------------------------------------------------------------------------*/