.contact{
    // Reset des margins et paddings de la section
    *{
        padding: 0;
        margin: 0;
    }
    margin-top: -1px;
    background-color: #EDE9E4;
    .bande
    {
        
        .block_1_contact
        {
            .wp-block-group__inner-container
            {
                display: flex;
                flex-flow: row wrap;
                h1
                {
                    width: 100%;
                }
                h1:nth-child(1), h1:nth-child(2)
                {
                    width: 100%;
                }
                h1:nth-child(3)
                {
                    width: auto;
                }
                h1:nth-child(4)
                {
                    @media(min-width: $breakpoint-mobile-small) and (max-width:$breakpoint-tablette)
                    {
                        font-size: clamp(96px, 20vw, 180px);
                        width: auto;
                        height: 17vh;
                    }
                }
        }
        
        }
        .block_2_contact
        {
            margin-top: 4%;
            height: auto;
            ul
            {
                height: 20vh;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                li
                {
                    font-size: 25px;
                }
                
            }
            .is-layout-flex{
                display: flex;
                justify-content: space-evenly;
                flex-direction: row;
                margin-left: 0px;
                margin-top: 1%;
                height: auto;
    
                li
                {
                    width: clamp(40px, 7vw, 100px);
                    height: clamp(40px, 7vw, 100px);
                    list-style: none;
                    font-family: $texte;
                    pointer-events: none;
                    
                }
    
                a{
                    svg{
                        pointer-events: all;
                        height: 100%;
                        width: 100%;
                        transition: all 0.3s ease;
                        &:hover
                            {
                                transform:scale(1.2);
                            }
                        
                    }
                    span{
                        display: none;
                    }
                }
            }
        }
        h1, h2, ul{
            margin-left: 10px;
        }
        h1{
            font-family: $gros_titre;
            padding-top: 10px;
            font-size: clamp(56px, 9vw, 105px);
            font-weight: 800;
            letter-spacing: 0em;
            text-align: left;
            color: $vert_fonce;
        }

        h2{
            font-size: clamp(35px, 3vw, 68px);
        }
        
        
    }
}
@media(min-width: $breakpoint-mobile)
{
    #block-8
    {
        margin-top: 2%;
    }
    .contact .bande .block_2_contact ul
        {
            width: 100%;
            flex-direction: row;
            align-items: center;
            li
            {
                list-style: none;
            }
        }
}
@media(min-width: 993px){
    .contact
    {
        .bande
        {
            display: flex;
            flex-flow: row wrap;
            .block_1_contact
            {
                padding-left: 110px;
                width: calc(69vw - 110px);
                height: 100vw;
                .wp-block-group__inner-container
                {
                    margin-top: 5%;
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    h1
                    {
                        font-size: clamp(90px,9vw,188px);
                    }
                    h1:nth-child(2)
                    {
                        width: auto;
                    }
                    h1:nth-child(3)
                    {
                        margin: 0;
                        width: auto;
                        padding-left: 5%;
                    }
                    h1:nth-child(4)
                    {
                        width: 55vw;
                        height: auto;
                        font-size: clamp(220px, 23vw, 800px);
                    }
                }
            }
            .block_2_contact
            {
                margin-right: 1vw;
                width: 30vw;
                ul
                {
                    height: 28vh;
                    flex-direction: column;
                    align-content: flex-start;
                    align-items: flex-start;
                    font-family: $texte;
                    
                    
                    
                }
                .is-layout-flex
                    {
                        justify-content: center;
                        li
                        {
                            min-width: 27%;
                        }
                    }
            }
        }
    }
    
}