/*--------------------------------------------------------------------------------------------------------------
                                                        LAYOUT MOBILE
--------------------------------------------------------------------------------------------------------------*/
a
{
    text-decoration: none;
    color: $noir_fonce;
}
.grille
{ 
    position: relative;

    .container_section
    {
        .container_info
        {
            figure
            {
                display: none;
            }
            .container_cours_session
            {
                .bouton_session_desktop
                {
                    display: none;
                }
            }
        }
    }
    .container_cours
    {
        position: absolute;
        top: 0;
        flex-direction: row;
        .un_cours
        {
            display: flex;
            flex-direction: column;
            z-index: 90;
            position: absolute;
            background-color: #EDE9E4;
            width: 100vw;
            height: 100vh;
            text-align: center;

            .cours_titre
            {
                height: 15%;
                width: 82%;
                margin: 0;
                font-size: 25px;
                font-family: $gros_titre;
                padding-top: 5%;
                padding-left: 4%;
                text-align: left;
            }
            .cours_description
            {
                min-height: 17%;
                max-height: 30%;
                margin: 0;
                margin: 0 auto;
                margin-bottom: 5%;
                overflow-y: hidden;
                overflow: scroll;
                width: 90%;
                text-align: left;
                font-family: $texte;
                line-height: 1.50;
                font-size: 18px;

                -ms-overflow-style: none;
                scrollbar-width: none;
                &::-webkit-scrollbar
                {
                    display: none;
                }
            }
            .icone
            {
                border-top: 4px solid black;
                height: 12%;
                width: 92%;
                margin: 0 auto;
                padding-top: 5px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
            .sujet
            {
                border-bottom: 4px solid black;
                border-top: 4px solid black;
                height: 10%;
                margin: 0;
                text-align: left;
                padding-left: 2%;
                font-size: 40px;
                padding-top: 8%;
                width: 90%;
                margin: 0 auto;
                font-family: $gros_titre;
            }
        }
    }
    .btns-bas
    {
        position: relative;
        z-index: 92;
        justify-content: space-around;
        transform: translateY(-15vh);
        font-family: $gros_titre;
        font-size: 24px;
        font-weight: 800;

        .btn-retour
        {
            cursor: pointer;
            color: $blanc_fonce;
            background-color: $noir_pale;
            height: 86px;
            width: 157px;
            border-radius: 43px;
        }
        // style du bouton prochain prof
        .btn-prochain
        {
            cursor: pointer;
            text-align: left;
            padding-left: 18px;
            color: $noir_pale;
            background-color: $vert_fonce;
            height: 86px;
            width: 157px;
            border-radius: 19px;
        }
    }

    .container_section // container ou se trouve l'information dynamique
    {
        height: 100vh;  
        .container_titre // container ou se trouve le titre de la section
        {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 2%;
        }
        .container_info // contient toute l'information sauf le titre
        {
            position: relative;
            height: 90%;
            display: flex;
            flex-direction: column;

            .filtre_cours // container pour ou se trouve le select
            {
                align-self: flex-end;
                display: flex;
                align-items: flex-end;
                width: 45vw;
                height: 5%;
                margin: 0;
                padding: 0;

                select // dropdown des choix de filtre
                {
                    margin-left: 1vw;
                    color: rgba(74, 191, 42, 1);
                    background: none;
                    border: none;
                    font-family: $gros_titre;
                    option
                    {
                        font-family: $gros_titre;
                        color: white;
                        background: rgba(74, 191, 42, 1);
                    }
                
                }
            }
            .bouton_changer_session
            {
                padding-left: 2%;
                height: 10%;
                width: 96%;


            }
            div
            {
                height: 100%;

                .dropdown_hover
                {
                    pointer-events: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 12;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    margin-bottom: 2%;
                    max-height: 60px;
                    min-height: 50px;
                    height: 10%;
                    width: 80%;
                    background-color: $vert_fonce;
                    border-radius: 30px;
                    color: white;
                    font-size: 30px;
                    font-family: $gros_titre;
                    appearance: none;
                    text-align: center;
                }
                select // dropdown des choix de session
                {
                    pointer-events: all;
                    // z-index: 12;
                    position: absolute;
                    color: white;
                    background: rgba(74, 191, 42, 1);
                    font-size: 30px;
                    text-align: center;
                    padding: 1%;
                    border: none;
                    border-radius: 30px;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    margin-bottom: 2%;
                    max-height: 60px;
                    min-height: 50px;
                    height: 10%;
                    width: 80%;
                    appearance: none;
                    font-family: $gros_titre;
                    option // modifier l'affichage lorsqu'on selectionne une option du dropdown menu
                    {
                        color: white;
                        background: rgba(74, 191, 42, 1);
                    }
                }
                a
                {
                   height: 100%;
                    div
                    {
                        height: 95%;
                        display: flex;
                        flex-direction: column;
                        .container_titre_session // container Titre de la session qui longe vers la gauche
                        {

                            color: $vert_foret;
                          
                            height: 100%;
                            width: 33vw;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            h1 // pour gerer l'affichage du titre
                            {
                                color: rgba(28, 28, 28, 0.61);
                                pointer-events: none;
                                transform: rotate(-0.25turn);
                                font-size: clamp(10vh, 15vh, 6.5625rem);
                                width: 800px;
                                height: auto;
                                text-align: center;
                            }
                        }

                        .les_cours // container possedant tout les cours
                        {
                            padding-left: 5%;
                            display: flex;
                            justify-content: space-around;
                            width: 100%;
                            position: relative;

                            .titre_cours // pour gerer l'affichage de chacun des titre cours
                            {
                                display: flex;
                                justify-content: space-between;
                                flex-flow: row nowrap;
                                align-items: center;
                                
                                pointer-events: all;
                                font-size: clamp(0.9375rem, 0.2232rem + 3.5714vw, 1.5625rem);
                                text-align: left;
                                margin: 0;
                                padding: 0;
                                width: 90%;
                                figure
                                {
                                    display: none;
                                    margin: 0;
                                    img
                                    {
                                        height: clamp(50px, 5vw, 80px);
                                        width: clamp(50px, 5vw, 80px);
                                    }
                                }
                            }
                            // balise ayant les description des cours pour afficher sur clique
                            div
                            {
                                display: none;
                            }
                        }
                    }
                }
            }
            .session_1 // les cours de la session 1 sont afficher par default
            {
                display: flex;
                flex-direction: row;
            }
            .session_2 // par default les autres ne sont pas afficher
            {
                display: none;
                flex-direction: row;
            }
            .session_3 // par default les autres ne sont pas afficher
            {
                display: none;
                flex-direction: row;
            }
            .session_4 // par default les autres ne sont pas afficher
            {
                display: none;
                flex-direction: row;
            }
            .session_5 // par default les autres ne sont pas afficher
            {
                display: none;
                flex-direction: row;
            }
            .session_6 // par default les autres ne sont pas afficher
            {
                display: none;
                flex-direction: row;
            }
        }
    }
}
/*--------------------------------------------------------------------------------------------------------------
                                            FIN LAYOUT MOBILE
--------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------
                                            DÉBUT LAYOUT TABLETTE
--------------------------------------------------------------------------------------------------------------*/
@media (min-width: $breakpoint-tablette-small) and (max-width: $breakpoint-tablette) // 768px et 992px
{
    .grille
    {
        .btns-bas
        {
            font-size: 34px;
            .btn-prochain, .btn-retour
            {
                height: clamp(75px,1vh,113px);
                width: 233px;
                font-size: clamp(25px, 1vw, 34px);
            }
        }

        .container_cours
        {
            .un_cours
            {
                display: flex;
                flex-direction: column;
                .cours_titre
                {
                    font-size: clamp(2.3125rem, 0.1696rem + 4.4643vw, 2.9375rem);
                }
                .cours_description
                {
                    padding-right: 5px;
                    font-size: clamp(1.5625rem, 0.4911rem + 2.2321vw, 1.875rem);
                }
                .icone
                {
                    height: 9%;

                }
                .sujet
                {
                    padding-bottom: 3%;
                    padding-top: 3%;
                    height: 4%;
                }
            }
        }
        .container_section
        {
            .container_info
            {
                .filtre_cours
                {
                    width: 29vw;
                }
                div
                {
                    select
                    {
                        z-index: 1;
                        font-family: $gros_titre;
                        font-size: 40px;
                        height: 20%;
                        border-radius: 54px;
                        outline: 0;
                        option
                        {
                            font-family: $texte;
                        }
                    }
                    a
                    {
                        div
                        {
                            .container_titre_session
                            {
                                h1
                                {
                                    width: 100vw;
                                    // min-width: 650px;
                                    // max-width: 800px;
                                    font-size: clamp(10vh, 15vh, 6.5625rem);
                                }
                            }
                            .les_cours
                            {
                                .titre_cours
                                {
                                    font-size: clamp(4vh, 3vh, 1rem);
                                    text-align: left;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/*--------------------------------------------------------------------------------------------------------------
                                            FIN LAYOUT TABLETTE
--------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------
                                            LAYOUT DESKTOP
--------------------------------------------------------------------------------------------------------------*/
@media (min-width: 993px)
{
    .grille
    {
        .btns-bas
        {
            width: 50%;
            padding-left: 75px;
            transform: translateY(-120%);
        }
        .container_cours
        {
            width: 100vw;
            .un_cours
            {
                display: flex;
                flex-direction: row;
                // flex-wrap:wrap-reverse;
                width: calc(100% - 100px);
                padding-left: 100px;
                
                .icone
                {
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 25%;
                    height: 20%;
                    border-top: none;
                    border-bottom: 3px solid $noir_pale;
                    border-right: 3px solid $noir_pale;

                    figure
                    {
                        img
                        {
                            height: clamp(100px,10vw, 150px);
                            width: clamp(100px, 10vw, 150px);
                        }
                    }
                }

                .sujet
                {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    width: 25%;
                    height: 20%;
                    border-top: none;
                    font-size: clamp(25px, 2.7vw, 55px);
                    border-bottom: 3px solid $noir_pale;
                }
                .cours_titre
                {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    height: 100%;
                    width: 50%;
                    border: 3px solid black;
                    border-left: none;
                    border-top: none;
                    font-size: clamp(25px, 3vw, 53px);
                }
                .cours_description
                {
                    position: absolute;
                    text-align: left;
                    bottom: 0;
                    right: 0;
                    margin: 0;
                    width: calc(50% - 100px);
                    transform: translateX(-25px) translateY(-5%);
                    max-height: 70%;
                    height: 80%;
                    font-size: clamp(25px, 2vw, 30px);

                    -ms-overflow-style: none;
                    scrollbar-width: none;
                    &::-webkit-scrollbar
                    {
                        display: none;
                    }
                }
            }
        }
        .container_section
        {
            position: relative;
            .container_titre
            {
                margin-left: 116px;
                padding: 0;
                width: calc(60vw - 100px);

                h1
                {
                    font-size: clamp(35px, 3vw, 56px);
                }
            }
            .container_info
            {
                top: 0;
                position: absolute;
                width: calc(100vw - 100px);
                padding-left: 100px;
                height: 100%;
                .filtre_cours
                {
                    border-left: 4px solid $noir_fonce;
                    border-bottom: 4px solid $noir_fonce;
                    align-items: center;
                    justify-content: center;
                    width: 40vw;
                    height: 20%;
                    font-size: clamp(30px, 2.5vw, 60px);

                    select
                    {
                        border-bottom: 2px solid transparent;
                        border-right: 2px solid transparent;
                        transition: all 300ms;
                        transition-timing-function: ease-in-out;
                        &:hover
                        {
                            border-right: 6px solid $vert_pale;
                            border-bottom-color: $vert_pale;
                            border-bottom-width: 6px;
                        }
                    }
                }
                .container_cours_session
                {
                    height: 100vh;
                    display: flex;
                    width: calc(100vw - 100px);

                    .bouton_session_desktop
                    {
                        border-right: 4px solid $noir_fonce;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        align-items: center;
                        height: 83vh;
                        width: 60vw;
                        
                        h4
                        {
                            cursor: pointer;
                            margin: 0;
                            font-family: $gros_titre;
                            font-size: clamp(90px, 10vw, 180px);
                            color: $noir_fonce;
                            transition: all 500ms;
                            pointer-events: visible;
                            &:hover
                            {
                                color: $vert_pale;
                                z-index: 16;
                                // transform:skewX(2);
                            }
                        }
                        
                        .session_1
                        {
                            z-index: 10;
                            transform: translateY(90%);
                        }
                        .session_2
                        {
                            z-index: 11;
                            display: flex;
                            transform: translateY(40%);
                        }
                        .session_3
                        {
                            z-index: 10;
                            display: flex;
                            // transform: translateY(100%);
                        }
                        .session_4
                        {
                            z-index: 9;
                            display: flex;
                            transform: translateY(-40%);
                        }
                        .session_5
                        {
                            z-index: 10;
                            display: flex;
                            transform: translateY(-90%);
                        }
                        .session_6
                        {
                            z-index: 9;
                            display: flex;
                            transform: translateY(-140%);
                        }
                        .selected
                        {
                            color: $vert_fonce;
                            pointer-events:none;
                            z-index: 12;
                        }
                    }
                    div
                    {
                        width: 40vw;
                        
                        .dropdown_hover
                        {
                            display: none;
                        }
                        #ref_dropdown_session
                        {
                            display: none;
                        }
                        div
                        {
                            .les_cours
                            {
                                height: 100%;
                                .titre_cours
                                {
                                    width: 95%;
                                    cursor: pointer;
                                    font-size: clamp(20px,2vw,35px);
                                    border-bottom: 6px solid $noir_pale;
                                    transition: all 400ms;
                                    transition-timing-function: ease-in-out;

                                    &:hover
                                    {
                                        border-bottom-color: $vert_pale;
                                        // color: $vert_fonce;
                                        padding-left: 2%;
                                    }
                                    figure
                                    {
                                        display: flex;
                                    }
                                }
                            }
                            .container_titre_session
                            {
                                display: none;
                                h1
                                {
                                    transform: rotate(0deg);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}
@keyframes animGrilleTitre
{
    0%
    {
        opacity: 0;
        transform: translateX(80%);
    }
    20%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes filtreTitreFade
{
    0%
    {
        opacity: 1;
        transform: translateX(0%);
    }
    20%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
        transform: translateX(110%);
    }
    
}
.filtreFade
{
    animation: filtreTitreFade 1s ease;
    
}
.filtreFadeIn
{
    animation: filtreTitreFade 1s ease reverse;
}
/*--------------------------------------------------------------------------------------------------------------
                                            FIN LAYOUT DESTKTOP
--------------------------------------------------------------------------------------------------------------*/