@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root {
    --richBlack: #0d1321;
    --prussianBlue: #1d2d44;
    --darkElectricBlue: #3e5c76;
    --shadowBlue: #748cab;
    --grossePolice: 'Comfortaa';
}