.item {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    height: 50vh;
    background-color: var(--richBlack);
    color: var(--shadowBlue);

    overflow: hidden;
}
.cover {
    transform: scale(1);
    z-index: 10;
    transition: all cubic-bezier(.14,.6,.34,1.15) 3s;
}
.cover:hover {
    transform-origin: center;
    transform: scale(1.1);
}

@media only screen and (min-width: 700px) {
    .item {
        width: calc(100vw/3);
        height: 70vh;
    }
}

@media only screen and (min-width: 1000px) {
    .item {
        width: calc(100vw/4);
        height: 80vh;
    }
}