// Couleurs pour le site

$bleu_pale: #3a34f5;
$bleu_fonce: #110ac6;
$vert_menu: #98d936;
$vert_fonce: #4abf2a;
$vert_foret: #217D12;
$vert_pale: #ABDF5C;
$noir_fonce: #1c1c1c;


$blanc_fonce: #EDE9E4;

$noir_pale: #303030;
$gris_pale: #6E6C6A;

$blanc_pale: #ffffff;
$couleur_pacman: yellow;
