$gros_titre: decoy, serif;
$texte: fira-sans, sans-serif;
p { font-family: $texte; }
h4 {font-family: $texte;}
h1 {font-family: $gros_titre;}
h2 {font-family: $gros_titre;}
h3 {font-family: $gros_titre;}