// Taille general (par defaut) pour les titres en desktop
h1{
    font-size: 56px;
}
h2{
    font-size: 45px;
}
h3{
    font-size: 35px;
}
h4{
    font-size: 27px;
}
h5{
    font-size: 21px;
}
h6{
    font-size: 16px;
}

// Taille general (par defaut) pour les titres en mode tablette
@media (max-width: 992px){
    h1{
        font-size: 46px;
    }
    h2{
        font-size: 35px;
    }
    h3{
        font-size: 29px;
    }
    h4{
        font-size: 24px;
    }
    h5{
        font-size: 20px;
    }
    h6{
        font-size: 14px;
    }
}

// Taille general (par defaut) pour les titres en mobile
@media (max-width: 600px){
    h1{
        font-size: 26px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 18px;
    }
    h4{
        font-size: 16px;
    }
    h5{
        font-size: 15px;
    }
    h6{
        font-size: 12px;
    }
}