@use "sass:math";
// breakpoints pour les media queries
$breakpoint-mobile-small: 320px;
$breakpoint-mobile: 600px;
$breakpoint-tablette-small: 768px;
$breakpoint-tablette: 992px;
$breakpoint-desktop-large: 1200px;
