@import './css/color.scss';

.containerAnimes {
    position: relative;
    flex: auto;
    background-color: $prussianBlue;
    display: flex;
    flex-flow: column wrap;

    @media (min-width: 486px) {
        flex-flow: row wrap;
    }

    > .containerStatus {
        z-index: 99;
        position: fixed;
        bottom: 0;
        top: auto;
        right: 0;
        transform: translate(-20px, -20px);
        background-color: $shadowBlue;
        
        @media (min-width: 1570px) {
            transform: translate(-30px, -30px);
        }
    }
}

.containerMyListVide {
    flex: auto;
    background-color: $prussianBlue;
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;

    h1 {
        color: $shadowBlue;
    }

    img {
        width: 80px;
        height: 80px;
    }

    > .containerStatus {
        position: fixed;
        bottom: 0;
        top: auto;
        right: 0;
        transform: translate(-20px, -20px);
    }
}