@import './css/color.scss';

.containerAnimes {
    flex: auto;
    background-color: $prussianBlue;
    display: flex;
    flex-flow: column wrap;

    @media (min-width: 486px) {
        flex-flow: row wrap;
    }
}

.containerMyListVide {
    flex: auto;
    background-color: $prussianBlue;
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;

    h1 {
        color: $shadowBlue;
    }

    img {
        width: 80px;
        height: 80px;
    }
}