@import './css/color.scss';

.singleAnime, .singleAnimeMyList {
    position: relative;
    width: 100vw;
    height: fit-content;

    @media (min-width: 486px) {
        width: 50vw;
    }

    @media (min-width: 1100px) {
        width: calc(100vw/3);
    }
    @media (min-width: 1570px) {
        width: calc(100vw/4);
    }

    img {
        width: 100%;
        height: auto;        
    }

    .containerInfo {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
        padding: 2% 0 5% 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 20px;
        color: $shadowBlue;
        background-color: $richBlack;
        
        .title {
            text-align: center;
        }

        span {
            font-family: $grossePolice;
            cursor: pointer;
        }
    }
}