@import './components/css/color.scss';

html {
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $grossePolice;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
}

#root {
    background-color: $prussianBlue;
}

// @media (min-width: 576px) {
//     .container {
//       max-width: 540px;
//     }
//   }
  
//   @media (min-width: 768px) {
//     .container {
//       max-width: 720px;
//     }
//   }
  
//   @media (min-width: 992px) {
//     .container {
//       max-width: 960px;
//     }
//   }
  
//   @media (min-width: 1200px) {