@import '../css/color.scss';

.containerStatus {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
    width: fit-content;
    padding: 1%;
    // overflow: hidden;
    background-color: $shadowBlue;
    transform: translate(-10px, 10px);
    border-radius: 5px;
    
    .placeholder {
        // font-size: 25px;
        color: white;
    }

    .containerChoices {
        border-radius: 5px;
        transition: all 200ms;
        position: absolute;
        top: 0;
        right: 0;
        width: fit-content;
        display: flex;
        flex-flow: column wrap;
        // gap: 5px;
        background-color: $darkElectricBlue;
    }
    span {
        transition: all 100ms linear;
        padding: 10px;
        color: white;
        font-size: 25px;
        cursor: pointer;
        width: 100%;
        &:hover {
            background-color: $shadowBlue;
        }
    }
}
.fadeout {
    transform: translateY(0%);
    pointer-events: none;
    opacity: 0;
}
.fadein {
    opacity: 1;
    transform: translateY(30%);

}
.fadeoutG {
    transform: translateY(0%);
    pointer-events: none;
    opacity: 0;
}
.fadeinG {
    opacity: 1;
    transform: translateY(-120%);

}